@page "/success"

<h3>Form Submitted Successfully!</h3>
<p>Your form has been submitted.</p> 
<style>
   body {
    background-image: url('bootstrap\img\success.png');
    background-repeat: no-repeat;
    background-size:80px 40px;
}
</style> 